/* 移动端 */
/* 手机宽度在500之内 */
@media screen and (max-width:500px) {
    body{
        background-color: #e1e1e1;
    }
   /* 改变header */
   .header {
    position: relative;
    background-image: none !important;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #cacaca;
    z-index: 1;
    box-sizing: border-box;
   }
   /* 版心 */
   .type_area{
       width: 100%;
       text-align: center;
   }
   /* title */
   .coderzml {
       margin-top: 0;
       text-align: center;
       width: 130px;
       margin-top: 10px;
   }
   /* 导航 */
   .mobile_nav {
       position: absolute;
       display: none;
       top: 12px;
       left: 15px;
   }
   .blog_font {
       height: 50px;
       background-color: #fff;
       color: #333;
       font-size: 14px;
       line-height: 20px;
   }
   .blog_font_fill {
      padding: 5px 10px 0 10px;
   }
   /* nav */
   .nav{
       width: 100%;
       position: absolute;
       top: 0px;
       /* display: none; */
       background-color: #fff;
   }
   .nav_list {
       display: none;
       width: 40%;
       position: absolute;
       z-index: 2;
       top: 50px;
       /* left: -90px; */
  
   }
   .nav_ul {
       width: 100%;
       background-color: #333;
   }
 
   .nav_ul li {
       float: none;
       width: 100%;
   }
   .search {
       /* display: none */
       width: 70%;
       float: none;
       margin: auto;
       margin-top: 10px;
   }
   .search_left {
       width: 81%;
   }
   .search_right {
       width: 15%;
   }
   /* 点击 搜索 */
      .header .mobile_search {
       cursor: pointer;
       width: 40px;
       height: 30px;
       top: 10px;  
       right: 0px;
       position: absolute;
       background-color: #fff;
       background-image: url(/image/home/big_glass2.png);
       background-repeat: no-repeat;
       background-size: 25px 25px;
       background-position: 5px 3px;
   }
    .search_right {
        background-color: #fff;
       background-image: url(/image/home/big_glass2.png) !important;
       background-repeat: no-repeat;
       background-size: 25px 25px;
       background-position: 5px 3px;
    }
    .search {
        border: 1px solid #999;
    }
    /* 主体颜色 */
   .container .content {
        background-color: #e6e6e6;
        padding: 0 20px;
        margin-top: 20px;
        height: 100%;
    }
    /* 侧边栏 */
    .mobile_nav{
        position: absolute;
        display:block;
    }
    .mobile_nav div {
        position: relative;
        margin-top: 6px;
        width: 25px;
        height: 2px;
        background-color: #666;
        transition: 0.2s;
    }
    
    /* 内容 */
    .content .box_list {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        border-radius: 20px;
        background-color: #fff;
        margin: 10px 0;
    }
    /* 图片 上部分 */
    .content .box_list_left {
        float: none;
        width: 100%;
        margin: 0;
        height: 133px;
    }
    .box_list_left img {
        height: auto !important;
    }
    /* 下部分 */
   .content .box_list_right {
        float: none;
        width: 100%;
        height: auto;
        margin-top: 10px;
   }
   /* 标题 */
   .box_list .box_list_right .title_box{
     height: auto;
   }
   .box_list .box_list_right .title {
       float: none;
   }
   /* 语言 */
  .box_list .box_list_right .language_type {
       position: absolute;
       bottom: 10px;
       right: 10px;
       width: 50px;
       height: 20px;
       font-size: 12px;
       line-height: 20px;
        float: none;
   }
   .box_list .box_list_right .font_box {
        height: 90px;
        overflow: hidden;
        padding: 0 10px;
   }
   .box_list_right .font_box .font{
        color: #666;
        font-size: 14px;
    }
    /* 时间 */
    .box_list_right .time_read .time {
        margin-bottom: 10px;
        color: #999;
        font-size: 12px;
    }
    .time_read {
        padding: 0 15px;
    }
   .time_read ._blank {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
    }
    .readAll {
        opacity: 0;
    }
    /* 搜索提示信息 */
    .tips  {
        padding: 10px 0;
        border-top: 1px solid #e6e6e6;
    }
    .search_info{
        background-color: #e6e6e6;
    }
    /* detail */
    .location{
        width: 100%;
        text-align: left;
        height: 100%;
        border: none;
    }   
    .location strong {
        font-size: 12px;
    }
    .location span {
        font-size: 12px;
    }
    /* 标题 */
    .content_title{
        margin-top: 10px;
    }
    .content_title .time{
        font-size: 12px;
        text-align:center;
        color: #999;
        padding-right:0;
    }
    /* 主体靠左 */
    #write{
        text-align: left;
        padding: 0 !important;
    }
    /* 回到顶部 */
    .go_top {
        z-index: 999999;
        width: 100px;
        height: 100px;
        position: fixed;
        bottom: 1px;
        left: -20px;
    }
}